* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #121212;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

h1 {
    margin-top: 40px;
    width: 80%;
    color: #9c66ef;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 80%;
    gap: 10px;
}

.card {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #222222;
}

.card > div {
    margin: 0 0 5px 0;
    background-color: #222222;
}

.card .title {
    font-weight: bolder;
    font-size: 1.3rem;
}

.card .author {
    font-size: 1.1rem;
}

.btn {
    position: fixed;
    bottom: 65px;
    right: 0;
    margin-right: 8%;
}

.btn button {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #9c66ef;
    padding: 30px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.btn button:hover {
    opacity: 0.8;
}

/*MODAL*/

dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

dialog::backdrop {
    background-color: rgba(18, 18, 18, 0.8);
}

dialog form {
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #222222;
}

dialog h2 {
    text-align: center;
    margin-bottom: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0;
}

.input-box input {
    padding: 5px;
    border: 1px solid #222222;
    outline: none;
}

.input-box label {
    margin-bottom: 3px;
    font-weight: bold;
}

.input-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.input-checkbox label {
    font-weight: bold;
}

.input-checkbox .checked {
    padding: 5px;
    height: 20px;
    width: 20px;
}

.btn-form {
    margin-top: 25px;
    width: 100%;
    text-align: center;
}

.btn-form button {
    padding: 10px;
    background-color: #9c66ef;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}